.box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    z-index: 3;
}

.box.big {
    width: 70px;
    height: 70px;
}

.others {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: -1;
    left: 80%;
}

.others_1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
}

.others_2 {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
    left: 80%;
    background-size: cover;
}

.box img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    object-fit: cover;
}

.icon {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--ant-text-color);
    font-size: 24px;
}